<%- include("partials/header.ejs") %>
    <div class="center">
        <h2>WARNING: This product contains nicotine. Nicotine is an addictive chemical.</h2>
        <hr>
        <br>
        <div class="container">
            <div class="cara" style="max-width: 100%; margin: auto;">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://cdn11.bigcommerce.com/s-4hr592w/images/stencil/2000x2000/products/16296/54425/Vaporesso-ArmourMaxKit_01-800x800__72884.1697919633.jpg?c=2" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://cdn11.bigcommerce.com/s-4hr592w/images/stencil/2000x2000/products/16296/54425/Vaporesso-ArmourMaxKit_01-800x800__72884.1697919633.jpg?c=2" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://cdn11.bigcommerce.com/s-4hr592w/images/stencil/2000x2000/products/16296/54425/Vaporesso-ArmourMaxKit_01-800x800__72884.1697919633.jpg?c=2" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <h1>Welcome to Our Site</h1>
        <p>This is some content...</p>
    </div>
    

<!-- Modal -->
<div class="modal fade" id="ageVerificationModal" tabindex="-1" aria-labelledby="ageVerificationModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="ageVerificationModalLabel">Age Verification</h5>
                <!-- Remove the close button -->
            </div>
            <div class="modal-body text-center">
                <p>The products offered by The Smoke Shop are intended only for adults of legal smoking age. </p><p>By entering our website, you confirm that you meet the legal smoking age requirement in your jurisdiction and consent to age verification.</p>
            </div>
            <div class="modal-footer justify-content-between"> <!-- Use justify-content-between to push buttons to the sides -->
                <!-- Button for confirming age -->
                <button id="ageVerificationButton" type="button" class="btn btn-primary">YES, I AM OF LEGAL AGE</button>

                <!-- Button for users who are not 18+ -->
                <a href="https://www.google.com" class="btn btn-danger">NO, I DON'T AGREE</a>
            </div>
        </div>
    </div>
</div>
<!-- End of Modal -->




<!-- Script to trigger modal on page load -->
<script>
    // Wait for the document to be fully loaded
    document.addEventListener("DOMContentLoaded", function() {
        // Select the ageVerificationModal element and show it
        var myModal = new bootstrap.Modal(document.getElementById('ageVerificationModal'));
        myModal.show();
    });

    // Add event listener to the "Yes, I am 18+" button to manually hide the modal
    document.getElementById('ageVerificationButton').addEventListener('click', function() {
        // Hide the modal by adding a class that sets display: none
        document.getElementById('ageVerificationModal').classList.add('d-none');
        // Remove the modal backdrop
        document.querySelector('.modal-backdrop').remove();
    });
</script>


<%- include("partials/footer.ejs") %>





